<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.travels.dao.ShareWebDao">

    <!--<cache type="com.travel.travels.cache.RedisCache"/>-->

    <!--分页查询所有-->
    <select id="findByCurrentPage" resultType="ShareWeb">
        select *
        from shareweb
        limit #{currentPage} , 10
    </select>

    <!--查询总条数，用于计算分页-->
    <select id="findTotals" resultType="Integer">
        select count(wid) from shareweb
    </select>

</mapper>